# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
!.env.example

# System files
.DS_Store
Thumbs.db

# Optional: VSCode workspace settings
.vscode/

# Optional: OS files
*.swp